@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&display=swap');

@font-face {
    font-family:Audrey-Normal ;
    src: url("fonts/Audrey-Normal.otf");
} 

@font-face {
    font-family:Audrey-Medium ;
    src: url("fonts/Audrey-Medium.otf");
}

@font-face {
    font-family:Audrey-Bold ;
    src: url("fonts/Audrey-Bold.otf");
}

@font-face {
    font-family:Audrey-Bold ;
    src: url("fonts/Audrey-Bold.otf");
}

a{
    font-family: 'DM Sans', sans-serif; 
}

h5{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'DM Sans', sans-serif;
}