

/*Esta clase nos permite agregar el scrol de la barra de articulos*/
#scroll { 
	height: max-content;
	width: auto;
	/* border: 1px solid #ddd; */
	background: white;
	overflow: auto;/*nos crea el scroll*/
    position:fixed;/*Nos mueve el scroll con el contenido d ela pagina*/
    word-wrap: break-word;/*El conenido no sale del contenedor*/

    
}

/*Esta clase nos permite dar un margen a las cards para que no queden encima del scrol*/
#card-group-0{
margin-left: 25%; /*Agregamos un margen izquierdo*/

}

#search{
	display: flex;
    flex-wrap: initial;
}

